* {
    margin: 0;
    padding: 0;
}
.mainbox {
    width: 656px;
    height: 414px;
    border: solid 1px #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    background-color: #f2f2f2;
}
.boy {
    width: 207px;
    height: 197px;
    border: solid 1px #f2f2f2;
    margin-left: 7px;
}